body {
    background-color: skyblue;
}
h1 {
    color: black;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 13px;
}
body{
    margin-left: 5cm;
    margin-right: 5cm;
}
.navbar{

    font-size: 25px;
    text-align:center;
    float: auto;
    width: 100%;
    background-color: #00004d;
    color: #FFFFFF
}
.navbar a:link{
    color: #ffffff
}
.navbar a:visited {
    color: #ffffff
}

